[Unit]
Description=Keystone-admin
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/keystone-wsgi-public --port 5000
Restart=on-failure

[Install]
WantedBy=multi-user.target